<footer class="footer">
  <div class="footer-content">
    <div class="footer-section">
      <p>© 2022 NoBrokerage.com Reserve All Rights</p>
    </div>
    <div class="footer-section">
      <div class="dropup" (click)="toggleDropup()">
        <a class="dropbtn">Contact Us</a>
        <div class="dropup-content" [ngClass]="{'show': isDropupOpen}">
          <a href="#">Help Center</a>
          <a href="#">Report Problem</a>
          <a href="#">Request Info</a>
        </div>
      </div>
    </div>
    <div class="footer-section">
      <a href="our-service">Our Service</a>
    </div>
    <div class="footer-section">
      <a href="blog">Blog</a>
    </div>
    <div class="footer-section">
      <a href="safety-guide">Safety Guide</a>
    </div>
    <div class="footer-section">
      <a href="/faq">FAQ</a>
    </div>
  </div>
</footer>