<div class="blog-page-container">
  <header class="header">
    <h1>No Bro Blog</h1>
    <p>Explore our latest articles and insights.</p>
  </header>

  <section class="blog-cards">
    <div class="blog-card">
      <img src="https://cdn.pixabay.com/photo/2020/09/19/23/42/architecture-5585737_1280.jpg" alt="Blog Image 1" class="blog-image">
      <h2>Safety Tips for Online Connections</h2>
      <p>Learn how to stay safe while connecting with others on No Bro. Discover best practices for secure communication and meeting in person.</p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-card">
      <img src="https://cdn.pixabay.com/photo/2023/07/08/09/53/monastery-8114076_1280.jpg" alt="Blog Image 2" class="blog-image">
      <h2>Building Trust in Online Communities</h2>
      <p>Explore ways to foster trust and create meaningful connections within the No Bro community. Tips from our experts.</p>
      <a href="#" class="read-more">Read More</a>
    </div>

    <div class="blog-card">
      <img src="https://cdn.houseplansservices.com/product/7m2jfblchbm24k6v9c1ogrbjvm/w1024.jpg?v=26" alt="Blog Image 3" class="blog-image">
      <h2>Maximizing Your No Bro Experience</h2>
      <p>Get the most out of No Bro with our guide to using platform features effectively and engaging with others.</p>
      <a href="#" class="read-more">Read More</a>
    </div>
  </section>

</div>